defaults: &DEFAULT
  weather_stack: &weather_stack
    API_KEY: ''
    BASE_URL: 'http://api.weatherstack.com'
  mapbox: &mapbox
    API_KEY: ''
    BASE_URL: 'https://api.mapbox.com'

staging: &STAGING
  <<: *DEFAULT
  weather_stack: &staging_weather_stack
    <<: *weather_stack
  mapbox: &staging_mapbox
    <<: *mapbox

production: &PROD
  <<: *STAGING
  weather_stack:
    <<: *staging_weather_stack
  mapbox:
    <<: *staging_mapbox